<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @pessoa.idade %>
</p>
<p>
  <strong>Endereco:</strong>
  <%= @pessoa.endereco %>
  <%= hidden_field_tag "search_box_geocoding", @pessoa.endereco%>
</p>
<p>


</div>
</p>
<p>
<button class="demo btn btn-primary btn-lg" href="#responsive" data-toggle="modal" id = "submit_button_geocoding" >Ver Mapa</button>
</p>



<%= link_to 'Voltar', pessoas_path %>
