<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @pessoa.idade %>
</p>
<p>
  <strong>Endereco:</strong>
  <%= @pessoa.endereco %>
  <%= hidden_field_tag "search_box_geocoding", @pessoa.endereco%>
</p>
<p>


</div>
</p>
<p>
<button class="demo btn btn-primary btn-lg" href="#responsive" data-toggle="modal" id = "submit_button_geocoding" >Ver Mapa</button>
</p>
<p>
    <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title"><%= "Nome:#{@pessoa.nome.capitalize} - Endereço:#{@pessoa.endereco}"%></h4>
    </div>
    <div class="modal-body">
    <div class="row">
    <div class="col-md-6">
<div>
<div id="map-container">
	<div id="map-canvas"></div>
</div>
    </div>
    </div>
    </div>
    <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
    </div>
    </div>
</p>


<%= link_to 'Voltar', pessoas_path %>
